.well.well-material-light-blue.footer
  .container
    span.pull-left
      | Made by&nbsp;
      a(href='http://jari.io', style='color:#fff', target='_blank') JARI
    span.pull-right.clearfix
      | Made w/Express, Jade, Coffee(script), and MongoDB.
